In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from os import walk
import pickle
import os

In [2]:
batch_files = []
data_files  = []

for (dirpath, dirnames, fnames) in walk('dat'):
    for f in fnames:
        if 'Batch_' in f:
            batch_files.append(f)
        else:
            data_files.append(f)

In [3]:
batch_files, data_files

(['Batch_4318249_batch_results.csv',
  'Batch_4319068_batch_results.csv',
  'Batch_4319396_batch_results.csv',
  'Batch_4322859_batch_results.csv',
  'Batch_4323327_batch_results.csv',
  'Batch_4324179_batch_results.csv'],
 ['test (1).xlsx', 'test.xlsx'])

In [4]:
df_batch = []
df_dat = []
df_comment = []

for f in batch_files:
    df_batch.append(pd.read_csv('dat/' + f))

for f in data_files:
    with pd.ExcelFile('dat/' + f, engine='openpyxl') as xls:
        df_dat.append(pd.read_excel(xls, 'DB'))
        df_comment.append(pd.read_excel(xls, 'COMMENTS'))

# concatenate all data files in a single dataframe
df_dat_whole = pd.DataFrame(columns=df_dat[0].columns)

for dat in df_dat:
    df_dat_whole = df_dat_whole.append(dat)

In [5]:
df_comment[0].columns

Index(['id', 'user', 'comment'], dtype='object')

In [6]:
# compile a user comment dataframe
new_df_comment = pd.DataFrame(columns=df_comment[0].columns)

for df in df_comment:
    new_df_comment = new_df_comment.append(df, ignore_index=True)

In [7]:
df_batch[0].columns

Index(['HITId', 'HITTypeId', 'Title', 'Description', 'Keywords', 'Reward',
       'CreationTime', 'MaxAssignments', 'RequesterAnnotation',
       'AssignmentDurationInSeconds', 'AutoApprovalDelayInSeconds',
       'Expiration', 'NumberOfSimilarHITs', 'LifetimeInSeconds',
       'AssignmentId', 'WorkerId', 'AssignmentStatus', 'AcceptTime',
       'SubmitTime', 'AutoApprovalTime', 'ApprovalTime', 'RejectionTime',
       'RequesterFeedback', 'WorkTimeInSeconds', 'LifetimeApprovalRate',
       'Last30DaysApprovalRate', 'Last7DaysApprovalRate', 'Answer.surveycode',
       'Approve', 'Reject'],
      dtype='object')

In [8]:
# worker batch file
new_df_batch = pd.DataFrame(columns=['WorkerId', 'WorkTimeInSeconds' , 'Answer.surveycode'])

for i in df_batch:
    temp = i[['WorkerId', 'WorkTimeInSeconds' , 'Answer.surveycode']]
    new_df_batch = new_df_batch.append(temp, ignore_index=True)

old_df_batch = new_df_batch.copy()

new_df_batch

           WorkerId WorkTimeInSeconds                     Answer.surveycode
0     A65N7P7LMZ4GE              4587  8701315a-59b9-4fa6-9f5f-4c85ad143a76
1    A2VRDE2FHCBMF8              1474  a2cdf1da-5aa1-40c8-94ed-471a4b1fd78d
2    A34CPKFZXBX1PO              1255  eb0162e1-dd64-4d42-a44a-f7154ae858bc
3     AG9LMLEPXP2YC              4801  36c04674-62c8-4f4c-a1b1-ec6a12badf01
4     AFSW5HVZ0EKET              3046  94d0f9fd-14dd-4191-963e-e4b145625acc
..              ...               ...                                   ...
145  A19ZWBQT8A3LIR              2222  6264fbc4-f71d-4fbf-ad47-8593724dc742
146  A38DXFI1TZA295              5894  520a33dc-5e7f-44f3-85e7-968a80d5ba52
147  A25R2OI9L2Q1OW              5615  7aae45c9-1aa0-415b-a60a-70deda6437f2
148  A3I40B0FATY8VH              2722  189efc73-db8a-428d-bcf8-c20ce9ab883a
149  A1DD23J1WBGQUU              6391  14acf634-faaa-415e-8096-95e474be0f76

[150 rows x 3 columns]

In [9]:
#find any duplicates
new_df_batch[new_df_batch['WorkerId'].duplicated(keep=False)]

          WorkerId WorkTimeInSeconds                     Answer.surveycode
12  A1PTH9KTRO06EG              2233  2f05d213-d605-4d99-9e96-7e6fbffe8114
31  A1PTH9KTRO06EG              6742  7a5bd8df-e71c-4c5f-bcb4-75e23efe3a8c

In [10]:
# drop duplicate workers
new_df_batch = new_df_batch.drop_duplicates('WorkerId')

In [11]:
codes = new_df_batch['Answer.surveycode']
new_df_dat = pd.DataFrame(columns=df_dat[0].columns)

for code in codes:
    if len(code) != 36: #screen out wrong survey code submissions       
        print('Submission Error: {}'.format(code))
        # print('{}: {}'.format(set(new_df_batch[new_df_batch['user'] == code]['user'])), code)
    else:
        for dat in df_dat:
            temp = dat.loc[dat['user'] == code]
            if temp.size != 0:
                temp = temp.drop_duplicates('trial') #removing duplicates likely due to server errors (brings n>100 to n=100)
                new_df_dat = new_df_dat.append(temp)
                pass

Submission Error: AKSJ3C5O3V9RB (worker ID submitted due to technical difficulties, will message code, please do not reject, thank you very much.)

In [12]:
print('There are {} total MTurkers\nThere are {} Worker IDs\nThere are {} matching completion codes\nThere are {} total registration'.format(old_df_batch.shape[0], new_df_batch.shape[0], new_df_dat['user'].unique().size, df_dat_whole['user'].unique().size))

There are 150 total MTurkers
There are 149 Worker IDs
There are 148 matching completion codes
There are 168 total registration

In [13]:
df_dat_whole = df_dat[0].append(df_dat[1])

newlist = set(df_dat_whole['user'])
for lst in newlist:
    print('{}: {}'.format(lst, df_dat_whole[df_dat_whole['user'] == lst]['trial'].size))

9de97d9d-dead-4f5b-9ac4-30953edc8521: 100
1b3ecbf2-324d-43d5-a0f1-636d2e8077eb: 100
7dce86f8-81d4-410e-a69b-07dceae49984: 100
12756fb7-1181-409e-97f3-fe99ea8e5313: 100
84b846d3-6a28-4c3b-814f-eaca107e61fd: 100
0ec33481-2993-41dd-b4ea-356ae1640b82: 8
ce002466-ba12-475f-b8fe-2fdc675164aa: 100
d96b10b3-b36b-4616-ac35-b408559a737b: 1
422de2ad-6830-4fb6-b855-2d614e455bb1: 100
e2b7745a-81ff-48b8-8334-1708180c58d4: 100
c57d0f35-0130-42f8-851a-ff5f0a70a86c: 100
3c4ad156-8243-41ce-9586-898d3ed51eb8: 100
7600cbb5-e672-430c-96f0-dbaee82ce76c: 100
f554e046-a38f-4914-a6d1-65d70f3901a1: 100
d351e46b-9a67-4fa5-b45f-3110fd01ef4e: 100
d77604e1-cb54-47ac-a425-a1fe2e652624: 100
20732ea8-cba0-4509-b94f-7b8814fbc098: 100
8701315a-59b9-4fa6-9f5f-4c85ad143a76: 100
55ba7440-718e-425e-aee9-8ceb5842b193: 100
c413b1c4-b834-4e2b-afb5-4a7b2c29a818: 100
60a1d705-82cb-4919-ac39-f2fd4fa861e9: 100
9bbc2220-1321-4f13-bab5-b762e310b7c1: 101
66c1de63-6325-44fc-8a5e-cbbc562d1bc9: 100
50a28b14-4f4e-42e4-9b0e-a0931c6067d1: 100
235dd184-49a3-41c2-9efa-4871eb33ddb9: 100
f16190a3-4d9c-48e2-bd70-6023f7ebaa8a: 100
0965127f-3b1c-4e0b-b89c-4253940b9bda: 100
fe5c01ad-6c0a-4cb5-a873-e8aeba137818: 100
36c04674-62c8-4f4c-a1b1-ec6a12badf01: 99
9e27c5ad-0c66-4f97-9f01-04d24760766c: 100
38582eb7-5ac7-4836-b537-03312643037e: 100
fb5dd4bc-eead-4ae1-ba6a-4ecf2019bad3: 100
1ea752f4-be23-4aa6-a039-7e014600b4d7: 100
95296bcd-e074-4f89-bc3f-766afddb6c12: 20
c1605a02-6872-4ea9-ae2f-bf015d97ac3c: 100
ea51af5b-0212-4c7c-862d-76dd4d6208e2: 100
04ab4405-c1ce-459e-9b16-da61f60b9fce: 100
76e5c11a-d9ba-4e6c-ae2c-9e67d1ee64de: 28
f2e5901c-b3a9-49fe-83ae-51e3319edc65: 15
b7c4352e-177a-4dd8-b51e-01acf29d8b87: 100
5a571ec7-99a6-4048-865b-490bc4dfddaf: 100
189efc73-db8a-428d-bcf8-c20ce9ab883a: 100
93ae5f07-fa19-4489-a30b-3117fc8361cf: 100
bc2523e9-579b-4871-a147-ee9b1e1536bd: 100
5d80a623-4a63-46b0-bb49-64b93cb0c470: 100
db22f491-9f49-40ef-a1f6-33eadd1f283c: 100
9524d863-eb6e-4809-a76e-6b9c27d6fcd2: 100
41299fc0-5a1b-4039-a652-e56271620ce0: 100
3824b1d7-f8c3-4834-88e6-109c44df7a62: 100
f46e7487-19ff-451a-b941-9e3d56498ac1: 63
d32920c2-16d2-4eb5-b8e2-6b105bd99e73: 86
30251a23-81cc-4419-bee7-8015addf4471: 101
ac31c7ba-a658-4e62-b1c5-9db45d37d129: 100
ce4866f4-ecca-4006-9930-c0bc3f97b68d: 100
14acf634-faaa-415e-8096-95e474be0f76: 100
298a761d-dcd6-43ac-9eaa-fa6d2cea6c86: 21
04d055d8-974d-40c0-a277-590fe8ad3b05: 100
83a15b8a-fa66-424c-ac18-367847f0feca: 100
7a6349a3-4b11-41aa-a25e-7007c886b68f: 45
3da4d625-5f65-4c82-b559-2bb37bee4af5: 100
0155a018-0908-43a2-97c9-f5bd5e1e2813: 100
b59b8157-77b1-406b-9c9d-fd9928697326: 100
54806146-855d-4038-afd0-d0578230fb09: 100
13b0193f-8430-44e8-900c-a98cc66fe9df: 100
040335bb-bb7c-4d66-b9ea-73bab4e24443: 100
aac8c32a-f866-414b-8ef5-714392d0a906: 100
784e9353-6e5e-43c9-83c5-2a44ddf1685e: 100
874740fc-ee4b-4340-9f3e-d2e98237feb8: 100
94d0f9fd-14dd-4191-963e-e4b145625acc: 100
734ab780-0cfe-4ab8-9a1e-2068d33480ba: 100
57c49f18-4eda-4861-ace4-bb6070f4c694: 100
27265577-c0e0-4d27-8154-c91502cdd6c9: 100
e35a6adb-7dfb-455b-8940-b8bda9e847d1: 100
07ecd8db-c7b4-4bde-95e0-1eec32f6d73f: 100
44552a11-4af2-4c3e-b5e4-2fb241b141ab: 100
d1da6636-c4d9-4391-b802-564fe2734f17: 99
95a9dad4-9d13-4030-a9ff-2ef029176a7d: 100
6264fbc4-f71d-4fbf-ad47-8593724dc742: 101
38203bf7-73c6-4092-93d9-9e8288b83fb2: 100
ecee83c4-9460-4157-be71-47382a0bf0d4: 100
8df56094-d35e-4499-bc87-afd41028fef3: 100
7c648693-1d93-4193-bbc5-8ea76c5c0a6e: 100
210d2dfd-3f22-499b-804c-1c82250ee46e: 100
22f095ef-f6ca-4922-bd52-846df9abba9b: 100
46de6265-f8a6-4c18-8e29-9034af412615: 100
8c7f4898-2662-420e-9dac-e5745545ea65: 31
eadb2928-a001-4a2c-92a7-0026d43c2566: 100
bacec3c9-b969-4b4e-a8bb-04447f750bc3: 100
f42eda1a-f58d-443a-b8c9-2b7231dba977: 100
7a5bd8df-e71c-4c5f-bcb4-75e23efe3a8c: 100
347dff69-9ef3-4096-8700-bd874136d7a6: 102
f24ee384-b336-41d8-acc9-b773e1e1eb07: 39
1a2e76f8-cc41-40b2-a568-d5e639d68779: 4
b889a15a-1b6e-4270-808c-23fa9fd33582: 100
9c35291d-b372-45b4-9d31-3b8b55e40443: 100
9632ba4f-342b-4511-b32a-305b7c322e23: 100
8a0f35db-ffbf-4245-99f0-959d49f5e4dc: 100
1c28ba88-ea83-4bef-baa7-b8b95dd045ce: 100
0264dd9a-93c3-4bb0-b73c-d8a341c2f119: 100
713a575b-5c81-4b1a-9d4c-3bfbb2efefd7: 100
64661713-f739-46d3-99c1-3aa7b42975c1: 101
e72b9f2e-fa1d-4ec1-b1ef-7150be271e81: 28
3dc7c9a8-2782-4e41-886f-5fc94461d0ca: 100
2f05d213-d605-4d99-9e96-7e6fbffe8114: 100
c8c8e7c3-1834-4c2f-bb78-e16b532cb9dc: 100
706fe595-fcf5-4f8a-9d68-08e175aecdc5: 101
b0b10992-aaa4-44c9-b974-4ec2f924b233: 103
a0acd2ef-a0b8-41c1-9275-a55ee2dbf3f7: 100
83737230-6f5e-4a2f-b8ff-3fbecf9dbcd5: 100
d7c3540c-17f9-4482-95cd-44bfb2f3da63: 100
18307214-7db6-4f17-b264-cfcbe2836e8b: 100
43985d2f-3b07-4879-a435-d5a65791217d: 100
278256a4-4924-45f7-ab71-511f11df802a: 100
592ca7e2-09e9-423a-996f-2ac59df76923: 100
432867be-3031-47f9-aadc-d468489a4596: 100
0f3f6b64-525c-4b7f-8549-982fb7ccfa75: 100
98f45756-8595-4464-9829-a1a6a4650eb5: 100
93691561-c9e8-4a4f-b9f1-d262f40ecd35: 105
71a3202a-7e3b-4750-a098-3a36633885f9: 100
6558a331-ee8e-4d70-86dc-4019b0673750: 100
520a33dc-5e7f-44f3-85e7-968a80d5ba52: 100
6547bef2-4d84-4772-a917-61c36d001bd8: 100
6b63101e-e6b5-4d0a-83fd-09ba5d9e97e1: 100
9589cdc8-47a6-4be7-ba74-63f851eaff9b: 100
7ce48a3c-1cb8-47a2-8845-4d2948ab1f2a: 100
a2cdf1da-5aa1-40c8-94ed-471a4b1fd78d: 100
1a62cc5c-7140-456a-a232-ced17a2d8ffc: 100
b4c46b93-ce8b-48d5-8692-78bac6159279: 100
bde987e9-2350-44d9-9d1b-4bda86299194: 100
00a498aa-00e6-4d6f-871a-77efb4b851f3: 100
59c353bb-e6b8-4252-ba6d-6f58035e9859: 100
b7fcda93-2fad-461a-9d34-e16edf6c3a2f: 93
d1d59f8d-fc03-40cd-8b2c-0118c8a521b1: 100
2949248c-b690-4a9e-9f81-03cbc7b5a278: 100
6847badd-e25e-45fb-9024-606df1e0c615: 9
ea222fa8-1773-447e-a23c-9df335640d33: 100
8d1e7411-5206-4168-a1ec-c8786357e52e: 100
d63d3464-835c-41dd-b34f-30903be6125e: 100
3ecf9f64-29b2-40c4-b78c-d7c2b3f3fa01: 103
ff08d0eb-031f-4311-b833-2619ac3cc002: 3
da0163b2-5324-49d0-8e79-aee90a294cf8: 100
fd9149c9-702e-490a-8af0-a14607efe8db: 100
7242568e-27f0-4f8a-b6fd-2bb48df1b113: 100
d39c57b2-0e8a-4d52-b792-fe9d46b5af4a: 100
74b4ef01-12a4-4e1b-b835-1cd3bb3081cb: 100
5dc57488-80df-44ff-83ee-6f74f029ab94: 100
e62af63f-9852-405a-9737-231e50242734: 100
4ccd2006-4f87-4db5-ae5f-386ca5ed73c1: 100
f1f8aa61-f5b4-4a96-95f6-8808b966adf5: 100
93b2d37f-1482-4ca1-a360-6b247e94b3f3: 101
9d43388a-6130-4691-9ca3-2cc1fe41a2af: 100
7aae45c9-1aa0-415b-a60a-70deda6437f2: 100
eb0162e1-dd64-4d42-a44a-f7154ae858bc: 100
18d11306-51b7-455a-9264-6b3ac21b8d92: 100
d56a03df-62ad-41b0-b52e-64349366065b: 100
85cc7931-a215-439d-afc2-cab7de1f5b49: 100
dccce944-de34-4fe2-b4bd-451691047959: 100
d08e67b9-efd0-42b8-b3a0-17f8fe4f52a2: 100
a7dc2621-7c78-4134-bdb3-e069c93e8bdb: 100
13722ef0-c8dd-48ee-9225-47b460993cd5: 100
d9668085-1a34-47bf-a0a7-20a080c7d234: 100
eeb43ea1-96e8-47ee-a2db-dc638b13bee7: 20
112c17b5-9dec-4377-b558-74266ad8b660: 100
aea693a7-3100-4c96-946d-81961be3dfeb: 101
0a807f76-e6c5-42ed-95e7-3350e7c67915: 100
62a23695-36e6-4607-bc97-ed665d2c4404: 100
c8ef9d48-2e60-45ef-b483-100b61edcf80: 100
0697219b-edf0-4bca-8836-7b73757f6f9f: 21

In [14]:
# output final raw database as an excel file (this does not screen out participants who failed to pass the catch trial)
new_df_dat.to_excel('MTurk_data.xlsx', index=False)

In [15]:
# making a score profile
lst_id = set(new_df_dat['user'])

df_score = pd.DataFrame(columns=['user', 'score', 'sample', 'comment'])

for userid in lst_id:
    temp = new_df_dat.loc[new_df_dat['user'] == userid]['score']
    max_score = temp.max()
    sample = temp.size
    if new_df_comment.loc[new_df_comment['user'] == userid]['comment'].size != 0:
        temp = new_df_comment.loc[new_df_comment['user'] == userid]['comment'].iloc[0]
        if str(temp) != 'nan':
            comment = temp
        else:
            comment = 'N/A'
    else:
        comment = 'N/A'
    df_score = df_score.append(pd.DataFrame([[userid, max_score, sample, comment]], columns=['user', 'score', 'sample', 'comment']))

In [16]:
df_score.to_excel('MTurk_score_profile.xlsx', index=False)

In [17]:
df_score.loc[df_score['sample'] != 100]

                                   user score sample comment
0  36c04674-62c8-4f4c-a1b1-ec6a12badf01     4     99     N/A
0  d1da6636-c4d9-4391-b802-564fe2734f17     4     99     N/A

In [18]:
# disqualified list
df_score.loc[df_score['score'] < 4]

,user,score,sample,comment
0,ce002466-ba12-475f-b8fe-2fdc675164aa,0,100,good
0,f554e046-a38f-4914-a6d1-65d70f3901a1,1,100,"This was interesting, I have no idea how I did..."
0,d77604e1-cb54-47ac-a425-a1fe2e652624,3,100,"This was neat and it all worked well, thank you."
0,20732ea8-cba0-4509-b94f-7b8814fbc098,2,100,Interesting.
0,c413b1c4-b834-4e2b-afb5-4a7b2c29a818,2,100,N/A
0,0965127f-3b1c-4e0b-b89c-4253940b9bda,3,100,I hope I did a decent job on your HIT. Thank y...
0,1ea752f4-be23-4aa6-a039-7e014600b4d7,2,100,good work
0,c1605a02-6872-4ea9-ae2f-bf015d97ac3c,3,100,It was pretty hard to know what the patterns w...
0,e35a6adb-7dfb-455b-8940-b8bda9e847d1,0,100,good
0,b889a15a-1b6e-4270-808c-23fa9fd33582,3,100,good task
0,64661713-f739-46d3-99c1-3aa7b42975c1,3,100,N/A
0,432867be-3031-47f9-aadc-d468489a4596,1,100,good and best task
0,592ca7e2-09e9-423a-996f-2ac59df76923,2,100,N/A
0,0f3f6b64-525c-4b7f-8549-982fb7ccfa75,3,100,none
0,98f45756-8595-4464-9829-a1a6a4650eb5,3,100,None
0,6b63101e-e6b5-4d0a-83fd-09ba5d9e97e1,3,100,N/A
0,b4c46b93-ce8b-48d5-8692-78bac6159279,2,100,N/A
0,d63d3464-835c-41dd-b34f-30903be6125e,3,100,N/A
0,2949248c-b690-4a9e-9f81-03cbc7b5a278,3,100,N/A
0,7242568e-27f0-4f8a-b6fd-2bb48df1b113,2,100,N/A
0,aea693a7-3100-4c96-946d-81961be3dfeb,3,100,N/A
0,62a23695-36e6-4607-bc97-ed665d2c4404,3,100,Very enjoyable study

In [19]:
#exporting user comments only
pd.set_option("max_colwidth", 100)

valid_comments = pd.DataFrame(df_score[df_score['comment'] != 'N/A']['comment']).reset_index(drop=True)
valid_comments.to_excel('User_comments.xlsx')
valid_comments.head(50)

                                                                                                comment
0                         I had to do it twice. The application broke about 25% into it the first time.
1   I don't know if this had any impact on my responses, but the URL title stands out, "inducedbias....
2                                                                                                  good
3                                                     No negative Comments. Everything will be alright.
4                                                                           I do not have any comments.
5                         This was interesting, I have no idea how I did. I would be interested in that
6                                                                                        That was hard!
7                                                      This was neat and it all worked well, thank you.
8                                                                                          Interesting.
9              This was extremely slow loading. I ended up waiting for way too long between each trial.
10                              I'm very curious to see how I did.  Some of them were very challenging!
11                                                                                   good and best task
12                                                   I hope I did a decent job on your HIT. Thank you.
13                                                                                                 none
14          Not sure why the training was so different from the main task? Guessing it was by design...
15                                                                                            good work
16  It was pretty hard to know what the patterns would be beyond the inner space for the ones where ...
17                                                                          very interesting the survey
18  It was new for me; different than clicking bubbles in other HITs. It broke up the monotony of ev...
19                                      Thanks for the HIT!  I did my best and hope the data is useful!
20                                                                                            No issues
21                                                                                  It was interesting
22  No, the experiment worked fine, but I did have a problem in the middle at image 58 where I recie...
23                                                               I do not have any additional comments.
24                                                                                           Thank you!
25                                                                     the study was really interesting
26  This was a fun experiment and all images loaded smoothly without issues.  Thank you for the oppo...
27                                                                                             Enjoyed!
28  If it wasn't clear because they made a spiral, I went with the one that had the most in that qua...
29                                                                                                 none
30                                  I have no feedback.\n\n\nGood luck in your research/study findings.
31                                                                                                 good
32                               I wish there was an example of the four small swirls in the pre test.
33                                                At times it took very long for the next page to load.
34                                                                       I have no additional comments.
35                                                                                            Fun task!
36                                                                                           Thank you.
37                                                                                            nice task
38                                                                                            good task
39                                                                                                 none
40                                                                                          no comments
41                                                                                     Completely clear
42                                                                                                 none
43                                                     The task was fab, thank you for the opportunity.
44                                                                                   good and best task
45                                          thank you for the opportunity to participate in this study.
46  I found some of the harder predictions more interesting (such as the tightly formed spirals). I ...
47                                                                                   good and best task
48                                                                                                 none
49                                                                                                 None

In [20]:
bool_screen = (df_score['score'] >= 4) #* (df_score['sample'] == 100) #catch trial
id_list = df_score.loc[bool_screen]['user'].tolist() #make a ID list of the subjects meeting the criteria
print('There are {} subjects who passed the catch trials'.format(len(id_list)))

There are 126 subjects who passed the catch trials

In [21]:
new_df_dat_real = pd.DataFrame(columns=new_df_dat.columns)

for id_i in id_list:
    new_df_dat_real = new_df_dat_real.append(new_df_dat.loc[new_df_dat['user'] == id_i])

In [22]:
# compute euclidean distance
new_df_dat_real['d'] = '' # adding new column
new_df_dat_real['y'] = '' # separate column for coordinate

for i in range(new_df_dat_real.shape[0]):
    temp_char = new_df_dat_real.iloc[i]['x'][1:-1]
    comma = temp_char.rfind(',')
    x = float(temp_char[:comma])
    y = float(temp_char[comma+1:])
    new_df_dat_real['x'].iloc[i] = x
    new_df_dat_real['y'].iloc[i] = y
    new_df_dat_real['d'].iloc[i] = np.sqrt(x**2 + y**2)

In [23]:
#extra screening
# for user_i in new_df_dat_real[new_df_dat_real['mtype'] == 2][-300:-200]['user'].unique():
#     new_df_dat_real = new_df_dat_real[new_df_dat_real['user'] != user_i]

In [24]:
#extract [est, real, mtype, d]
output = np.array(new_df_dat_real[['est', 'real', 'mtype', 'x', 'd', 'y']])
output.shape

(12598, 6)

In [25]:
# final output of the cleaned database
filename = 'MTurk_ds.pickle'

with open(filename, 'wb') as f:
    pickle.dump(output, f)

In [26]:
#average time stayed on MTurk
new_df_batch.drop_duplicates('WorkerId')['WorkTimeInSeconds'].mean()/60

55.07997762863535

In [27]:
#average time took to complete
list_duration = []

for id_i in id_list:
    temp_df = new_df_dat_real[new_df_dat_real['user'] == id_i]
    t_1 = temp_df[temp_df['trial'] == 1]['date_created'].iloc[0]
    # t_50 = temp_df[temp_df['trial'] == 50]['date_created'].iloc[0]
    t_100 = temp_df[temp_df['trial'] == 100]['date_created'].iloc[0]
    list_duration.append((t_100-t_1).seconds)

np.mean(list_duration) / 60

16.304100529100527

## Update user list with do not repeat feature

In [28]:
filename = 'User_1237902_workers.csv'

df_MT = pd.read_csv(filename)
df_MT = df_MT.astype(object) #must be object otherwise MTurk does not recognize

In [29]:
df_new_MT = df_MT.copy()

workerid = new_df_batch['WorkerId'].tolist()
c = 0

for i in range(df_new_MT.shape[0]):
    
    if df_new_MT['Worker ID'][i] in workerid:
        df_new_MT['UPDATE-Already Participated JOVO'][i] = str(1)
        c += 1
        print('{}: {}'.format(c, df_new_MT['Worker ID'][i]))

1: A10JXOU89D5RXR
2: A12FCLCVIM2CL3
3: A12FTSX85NQ8N9
4: A13WTEQ06V3B6D
5: A153HLAVH5FILS
6: A17K1CHOI773VZ
7: A183WYXN12P2TJ
8: A18G2CLYSTENK
9: A1969Q0R4Y0E3J
10: A19ZWBQT8A3LIR
11: A1AZ97YYFVWFGC
12: A1CPY1HLCFTIL1
13: A1D6V3CKUT95LJ
14: A1DD23J1WBGQUU
15: A1DZMZTXWOM9MR
16: A1F5E941TP0UIZ
17: A1F9KLZGHE9DTA
18: A1GW09ZJF0RXTB
19: A1LA6CIGBNDOH9
20: A1LRJ4U04532TM
21: A1NLJ1L4VCQYV2
22: A1ODA3Q5H6HTDQ
23: A1P2RQ166VS5BT
24: A1P5FJPAEO3RP7
25: A1P6OXEJ86HQRM
26: A1PTH9KTRO06EG
27: A1QKIA8XRNEXIG
28: A1RV2LERVS0A4H
29: A1SH6BOQT9K5VT
30: A1SHLWKA0UH1IS
31: A1SLJKNSNHOJRN
32: A1W7I6FN183I8F
33: A1XVEKS9O73ERE
34: A1YZ0ETOCJO1B2
35: A1ZI4VU6650Q8B
36: A2196WCNDZULFS
37: A22DF0EWILGRLV
38: A22DVMN2Y3XHWA
39: A22T69YW4WUANF
40: A22W4Y4UI182L2
41: A256FHXGSY0E5D
42: A25R2OI9L2Q1OW
43: A26M997VYVK0E6
44: A26NGLGGFTATVN
45: A270HX8LH9LJ8W
46: A2BBJ85QRHJCQO
47: A2CEGS0NVDBCPT
48: A2CWADQFILGY80
49: A2EJ7U3TZAKROG
50: A2FYFCD16Z3PCC
51: A2G8FL7APWI0YS
52: A2GNG7DWHQA6ZZ
53: A2HU2D8889A2FV
54: A2IQ0QCTQ3KWLT
55: A2KJC61HA06JEF
56: A2LMQ4497NMK3S
57: A2MCG5W6LHSRG9
58: A2NT3OQZUUZPEO
59: A2NUGRVI6IEGN7
60: A2O5Z1YZDTNNXT
61: A2OO4PG3LBLP5I
62: A2PSR3CMNR1R9X
63: A2VO8C41JJIQY9
64: A2VRDE2FHCBMF8
65: A2WUXZOY4CRF5R
66: A2XHNHSBAHOGHZ
67: A2XQ3CFB5HT2ZQ
68: A2Y87M8V0N1M6P
69: A2Z6NL0CTXY0ZB
70: A2ZJS73XSSMRTD
71: A2ZPSPA0R8KSL8
72: A30HUZHJBOX1LK
73: A30NGIKN7761QK
74: A313JEGCVV2UES
75: A3388HIWAKD3DV
76: A33DJF06UZXG3Y
77: A34CPKFZXBX1PO
78: A34SIGOLUGKIHJ
79: A378DVZDTWCGQ7
80: A37S96RT1P1IT2
81: A38DXFI1TZA295
82: A3B7TNVOISSZ2O
83: A3C8JI69WPTKWH
84: A3CAHROA74QYIE
85: A3CTXNQ2GXIQSP
86: A3CZ9T0BO40T0
87: A3FBC5W56LKQXL
88: A3FSDH6HUZPNQ8
89: A3G5OWGKHW6OL5
90: A3HE29W5IDR394
91: A3HKMZ9ML9EPUY
92: A3I40B0FATY8VH
93: A3L4JI1S352HB8
94: A3LVLZS8S41ZD7
95: A3MGDMVIQ1ZZ5S
96: A3MPHGI584PR1U
97: A3NKA0NIM0TX5C
98: A3NXT3OVGL7QNR
99: A3PYD7EU2WFST6
100: A3QSFE6GKO157S
101: A3RL02A3JRAUS4
102: A3RLCGRXA34GC0
103: A3RVHUY67SVXQV
104: A3V2XCDF45VN9X
105: A3VMKLJTSGYKHN
106: A3VY5ZJZITBGKE
107: A3VZ5K4RRT6NN8
108: A58208A71VGW
109: A5K7BE7M1A8GV
110: A65N7P7LMZ4GE
111: A77EN6TMUN0ZM
112: A7MIAWD2MRWBG
113: A7P3R1AIA4TVV
114: A8KX1HFH8NE2Q
115: A8UJNIY9R8S7W
116: A94DL4GI8ZBUO
117: A9692Y27LBXT9
118: A98E8M4QLI9RS
119: A9MJVJAMLCDMV
120: A9O273N0X06JS
121: AB09F0Q4T10TE
122: ABUABR22YMOGG
123: ABW8U1U74P8MI
124: AEQ8K4HBO323D
125: AETIZKQNUSBLB
126: AFSW5HVZ0EKET
127: AG9LMLEPXP2YC
128: AGRKG3YT3KMD8
129: AIHHRINW9IN1I
130: AJD65G9H2QUE9
131: AJQ71YIGY01HZ
132: AJRY9ALX8069Y
133: AKJ22H1NTVIQX
134: AKQAI78JTXXC9
135: AKSJ3C5O3V9RB
136: AN098C29EGJ6
137: AN9MVFWRCF2OP
138: ANJJYKB47APL5
139: AQBMQKSLXHSC7
140: AQXZUVF2QWLYS
141: AT20PW4G38BMM
142: AVNXCGTZQ1CFK
143: AW5O1RK3W60FC
144: AWTGJ45ZWUCHH
145: AXKTYKCT9NGHS
146: AY5WYV3L02AXW
147: AY9UWGHEE2P04
148: AZ69TBTDH7AZS
149: AZ8JL3QNIPY4U

In [30]:
df_new_MT.to_csv(filename[:-4] + '_updated.csv', index=False)

In [31]:
# df_new_MT[df_new_MT['Worker ID'] == 'AY5WYV3L02AXW']
df_MT_updated = pd.DataFrame(columns=df_MT.columns)

for ids in new_df_batch['WorkerId']:
    df_MT_updated = df_MT_updated.append(df_new_MT[df_new_MT['Worker ID'] == ids])

df_MT_updated.head()

,Worker ID,Link to Individual Worker Page,Number of HITs approved or rejected - Lifetime,Number of HITs approved - Lifetime,Your Lifetime approval rate,Number of HITs approved or rejected - Last 30 days,Number of HITs approved - Last 30 days,Your Last 30 days approval rate,Number of HITs approved or rejected - Last 7 days,Number of HITs approved - Last 7 days,...,UPDATE-Completed Social Touch Study,CURRENT-Compensation HIT,UPDATE-Compensation HIT,CURRENT-Already Participated JOVO,UPDATE-Already Participated JOVO,CURRENT-Action Participation,UPDATE-Action Participation,CURRENT BlockStatus,UPDATE BlockStatus,BlockReason
1284,A65N7P7LMZ4GE,https://requester.mturk.com/workers/A65N7P7LMZ4GE,1,1,100.00%,1,1,100.00%,1,1,...,NaN,NaN,NaN,1.0,1,NaN,NaN,Never Blocked,NaN,NaN
812,A2VRDE2FHCBMF8,https://requester.mturk.com/workers/A2VRDE2FHCBMF8,2,2,100.00%,1,1,100.00%,1,1,...,NaN,NaN,NaN,1.0,1,NaN,NaN,Never Blocked,NaN,NaN
923,A34CPKFZXBX1PO,https://requester.mturk.com/workers/A34CPKFZXBX1PO,2,2,100.00%,1,1,100.00%,0,0,...,NaN,NaN,NaN,1.0,1,NaN,NaN,Never Blocked,NaN,NaN
1400,AG9LMLEPXP2YC,https://requester.mturk.com/workers/AG9LMLEPXP2YC,1,1,100.00%,1,1,100.00%,1,1,...,NaN,NaN,NaN,1.0,1,NaN,NaN,Never Blocked,NaN,NaN
1396,AFSW5HVZ0EKET,https://requester.mturk.com/workers/AFSW5HVZ0EKET,1,1,100.00%,1,1,100.00%,1,1,...,NaN,NaN,NaN,1.0,1,NaN,NaN,Never Blocked,NaN,NaN

In [32]:
# final check to make sure there is no duplicate
df_MT_updated['Worker ID'].unique().size

149